:root {
  --first-color: 92, 235, 223; /* turquoise blue */
  --second-color: 228, 210, 255; /* lavender blue */
  --third-color: 255, 18, 140; /* magenta pink */
  --forth-color: 255, 207, 0; /* cyber yellow */
  --fifth-color: 255, 192, 159; /* peach crayola */
  --sixth-color: 117, 181, 208; /* dark sky blue */
  --bg-color: 254, 239, 229; /* linen */
  --font-color: 58, 1, 92; /* russian violet */
}

body {
  background-color: rgb(var(--bg-color));
  color: rgb(var(--font-color));
  font-family: "Poppins", sans-serif;
}

.tff-logo {
  width: 120px;
}

.donation-link {
  background-color: rgb(var(--forth-color));
  font-weight: bold;
}

.donation-link:hover {
  background-color: rgb(var(--font-color));
  color: rgb(var(--forth-color));
}

.donation-link,
.donation-link:hover {
  border: 2px solid rgb(var(--forth-color));
}

.donation-link:active {
  background-color: rgb(var(--fifth-color)) !important;
}

.header-text {
  margin: 0 auto;
}

.main-h1 {
  color: rgb(var(--third-color));
  font-size: 60px;
  font-family: "Fredoka One", cursive;
  position: absolute;
  left: 60px;
  top: 200px;
  text-shadow: -2px 2px black;
  width: 60%;
}

.important-h1 {
  color: rgb(var(--fifth-color));
}

.main-h2 {
  font-size: 25px;
  position: absolute;
  left: 60px;
  top: 390px;
  width: 55%;
}

.donation-link-header {
  font-size: 20px;
  padding: 10px 15px;
  position: absolute;
  left: 60px;
  top: 495px;
}

.who-container {
  margin: 30px auto;
  max-width: 90%;
}

.flex-center {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.who-pic {
  border-radius: 140px 30px 240px;
  max-height: 500px;
  max-width: 100%;
}

.who-text-box {
  background: linear-gradient(
    135deg,
    rgb(var(--fifth-color)) 0%,
    rgb(var(--second-color)) 100%
  );
  border-radius: 10px;
  padding: 30px;
}

.who-pic,
.who-text-box {
  box-shadow: 5px 5px 10px #a7a6a6;
}

.read-link {
  color: rgb(96 166 237);
  text-decoration: none;
}

.read-link:hover {
  color: rgb(0 93 187);
}

.activity-container {
  padding: 30px 0;
  background-color: rgb(var(--second-color));
}

.activity-title {
  text-align: center;
  text-decoration: underline;
}

.activity-card {
  border: none;
  border-radius: 80px 80px 5px 5px;
  width: 160px;
}

.activity-population {
  background-color: rgb(var(--fifth-color), 0.7);
}

.activity-community {
  background-color: rgb(var(--first-color), 0.5);
}

.activity-rehibilitation {
  background-color: rgb(var(--third-color), 0.3);
}

.activity-education {
  background-color: rgb(var(--font-color), 0.4);
}

.activity-img {
  margin: 5px;
  width: 150px;
}

.activity-card-title {
  font-size: 18px;
  height: 80px;
  margin: 0;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

@media (width <= 375px) {
  .header-text {
    text-align: center;
  }
  .main-h1 {
    text-shadow: -1px 1px black;
    font-size: 18px;
    left: 0;
    top: 90px;
    width: 100%;
  }
  .main-h2 {
    font-size: 9px;
    left: 0;
    top: 125px;
    width: 100%;
  }
  .donation-link-header {
    font-size: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    left: 40%;
    top: 160px;
    width: 20%;
  }
}

@media (375px < width <= 480px) {
  .header-text {
    text-align: center;
  }
  .main-h1 {
    text-shadow: -1px 1px black;
    font-size: 18px;
    left: 0;
    top: 90px;
    width: 100%;
  }
  .main-h2 {
    font-size: 9px;
    left: 0;
    top: 125px;
    width: 100%;
  }
  .donation-link-header {
    font-size: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    left: 40%;
    top: 160px;
    width: 20%;
  }
}

@media (480px < width <= 575px) {
  .header-text {
    text-align: center;
  }
  .main-h1 {
    text-shadow: -1px 1px black;
    font-size: 23px;
    left: 0;
    top: 95px;
    width: 100%;
  }
  .main-h2 {
    font-size: 12px;
    left: 0;
    top: 140px;
    width: 100%;
  }
  .donation-link-header {
    font-size: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    left: 40%;
    top: 180px;
    width: 20%;
  }
}

@media (575px < width <= 768px) {
  .main-h1 {
    text-shadow: -1px 1px black;
    font-size: 30px;
    left: 50px;
    top: 125px;
  }
  .main-h2 {
    font-size: 15px;
    left: 50px;
    top: 210px;
  }
  .donation-link-header {
    font-size: 10px;
    padding: 7px 12px;
    left: 50px;
    top: 270px;
  }
}

@media (768px < width <= 1024px) {
  .main-h1 {
    font-size: 40px;
    top: 145px;
  }
  .main-h2 {
    font-size: 18px;
    top: 250px;
  }
  .donation-link-header {
    font-size: 15px;
    top: 325px;
  }
}

@media (1024px < width <= 1200px) {
  .main-h1 {
    font-size: 50px;
    top: 130px;
  }
  .main-h2 {
    font-size: 20px;
    top: 260px;
  }
  .donation-link-header {
    font-size: 18px;
    top: 345px;
  }
}
