:root {
  --first-color: 92, 235, 223; /* turquoise blue */
  --second-color: 228, 210, 255; /* lavender blue */
  --third-color: 255, 18, 140; /* magenta pink */
  --forth-color: 255, 207, 0; /* cyber yellow */
  --fifth-color: 255, 192, 159; /* peach crayola */
  --sixth-color: 117, 181, 208; /* dark sky blue */
  --bg-color: 254, 239, 229; /* linen */
  --font-color: 58, 1, 92; /* russian violet */
}

body {
  background-color: rgb(var(--bg-color));
  color: rgb(var(--font-color));
  font-family: "Poppins", sans-serif;
}

.navbar-bg {
  background-color: rgba(255, 255, 255, 0.5);
}

.tff-logo {
  width: 120px;
}

.donation-link {
  background-color: rgb(var(--forth-color));
  font-weight: bold;
}

.donation-link:hover {
  background-color: rgb(var(--font-color));
  color: rgb(var(--forth-color));
}

.donation-link,
.donation-link:hover {
  border: 2px solid rgb(var(--forth-color));
}

/* .header-cover {
  position: absolute;
  top: 60px;
  width: 100%;
}

.main-h1 {
  color: var(--third-color);
  font-family: "Fredoka One", cursive;
  font-size: 70px;
  position: relative;
  left: 60px;
  top: 100px;
  text-shadow: -2px 2px black;
  text-transform: capitalize;
  width: 50%;
}

.title-part {
  color: rgb(var(--fifth-color));
}

.main-h2 {
  color: rgb(var(--font-color));
  font-size: 30px;
  position: relative;
  left: 60px;
  top: 120px;
  width: 45%;
}



.btn-donation-header {
  font-size: 25px;
  position: relative;
  left: 60px;
  top: 140px;
}

.activity-container {
  position: relative;
  top: 450px;
}

.activity-card {
  border: none;
  border-radius: 80px 80px 5px 5px;
  width: 160px;
  height: 280px;
}

.activity-population {
  background-color: rgb(var(--fifth-color), 0.5);
}

.activity-community {
  background-color: rgb(var(--first-color), 0.4);
}

.activity-rehibilitation {
  background-color: rgb(var(--third-color), 0.2);
}

.activity-education {
  background-color: rgb(var(--font-color), 0.2);
}

.activity-collaborative {
  background-color: rgb(var(--forth-color), 0.2);
}

.activity-img {
  margin: 5px;
  width: 150px;
}

.activity-card-title {
  font-size: 18px;
}

.activity-link {
  text-decoration: none;
}

@media (max-width: 630px) {
  .main-h1 {
    font-size: 25px;
  }

  .main-h2 {
    font-size: 10px;
    top: 110px;
  }

  .btn-donation-header {
    font-size: 5px;
    top: 130px;
  }
}

@media (630px < width <= 780px) {
  .main-h1 {
    font-size: 30px;
  }

  .main-h2 {
    font-size: 15px;
  }

  .btn-donation-header {
    font-size: 10px;
    top: 130px;
  }
}

@media (780px < width <= 990px) {
  .main-h1 {
    font-size: 40px;
  }

  .main-h2 {
    font-size: 20px;
  }

  .btn-donation-header {
    font-size: 15px;
    top: 130px;
  }
}

@media (990px < width <= 1250px) {
  .activity-container {
    top: 300px;
  }

  .main-h1 {
    font-size: 55px;
  }

  .main-h2 {
    font-size: 25px;
  }

  .btn-donation-header {
    font-size: 20px;
  }
} */
